DATA_GO_KR_SERVICE_KEY=
SGIS_CONSUMER_KEY=
SGIS_CONSUMER_SECRET=
# 기본값: https://sgisapi.mods.go.kr/OpenAPI3
# 구 개발문서 endpoint가 필요할 때만 https://sgisapi.kostat.go.kr/OpenAPI3 로 지정
SGIS_API_BASE_URL=
KAKAO_REST_API_KEY=
TOURGAP_ALLOW_MOCK_STRUCTURAL=
